@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fbfbfb;
    --foreground: #171717;
    --card-border: #ebebeb;
    --card-background: #f6f6f6;
    --white: 0 0% 100%;

    --nav-background: 248 10% 10%;
    --nav-border: 248 6% 17%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card-border: #383737;
    --card-background: #f6f6f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
