@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;

    --main-bg: 0 0% 98%;

    --card-border: 0 0% 92%;
    --card-background: 0 0% 96%;

    --nav-background: 248 10% 10%;
    --nav-border: 248 6% 17%;
  }
}

.dark {
  --white: 0 0% 100%;

  --main-bg: 0 0% 5%;

  --widget-background: 0 0% 8%;

  --card-border: 0 1% 22%;
}

body {
  background: hsl(var(--main-bg));
  font-family: Arial, Helvetica, sans-serif;
}
