@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfbfb;
  --foreground: #171717;
  --card-border: #383737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card-border: #383737;
    --card-background: #f6f6f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
